.form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 16px;
}

.field {
  position: relative;
  flex-basis: calc((100% - 16px) / 2);
}

@media screen and (max-width: 375px) {
  .field {
    flex-basis: 100%;
  }
}

.field_icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(50%);
}

.input {
  width: 100%;
  height: 40px;
  padding-left: 36px;
  outline: none;
  border: 1px solid rgba(29, 78, 185, 0.5);
  border-radius: 20px;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input::placeholder {
  color: transparent;
}

.input:hover,
.input:focus {
  border-color: #1d4eb9;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  pointer-events: initial;
  color: #1d4eb9;
  font-size: 12px;
  top: -8px;
  background-color: #e7ecf2;
}

.label {
  pointer-events: none;
  cursor: text;
  position: absolute;
  left: 32px;
  top: 10px;
  color: #8f96a5;
  padding: 0 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add_button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #1d4eb9;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add_button:hover,
.add_button:focus {
  background-color: rgb(34, 70, 148);
}

.add_button:disabled {
  pointer-events: none;
  opacity: 0.7;
}
